.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: left;
  background: rgba(0, 0, 0, .7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
  max-width: 15ch;
}

.footer span {
  color: #09f;
  opacity: .8;
}

.footer h3, .footer p {
  font-size: .75rem;
  margin: 0;
  display: flex;
}